.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rdata
*.rda
*.rds
*.pdf
*.png
!figures/*.png
*.zip
*.tar.gz
logs/
tmp/
outputs/
*.sam
*.bam
*.bai
*.fq
*.fq.gz
*.fastq
*.fastq.gz
*_fastqc.zip
*_fastqc.html
multiqc_data/
multiqc_report.html
outs/
filtered_feature_bc_matrix/
raw_feature_bc_matrix/
molecule_info.h5
web_summary.html
*.RDS
*.html
